<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="ruta == 'iglesia' ? 'bg-iglesia':'bg-conexion'" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" href="#">
      <img src="../../../assets/images/iglesia.PNG" height="80" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="../nosotros">Conocenos</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link mx-2" href="/">
            <img [src]="ruta == 'iglesia' ? iglesia : conexion" height="80" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="../oremos">¿Nos dejas orar por ti?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="../blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>