.container {
  h1 {
    color: #801111;
  }
  .container-text {
    padding-left: 2%;
    p {
      margin-bottom: 0px;
    }
  }
  .container-info {
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    display: flex;
    .row-1 {
      padding: 2% 1% 0 2%;
      width: 50%;
      p {
        text-align: justify;
      }
    }
    .row-2 {
      padding: 2% 0% 0 2%;
      width: 50%;
      p {
        text-align: justify;
      }
    }

    @media screen and (max-width: 1024px) {
      .row-1,
      .row-2 {
        width: 100%;
        padding: 2%;
      }
    }
  }
  .container-button {
    display: flex;
    justify-content: center;
    button {
      background-color: #801111;
      color: #fff;
      border: 1px solid #000;
      border-radius: 1rem;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    button:hover {
      background-color: #fff;
      color: #801111;
    }
    @media screen and (max-width: 1024px) {
      button{
        margin-bottom: 1rem;
      }
    }
  }
}
