<div class="container">
  <h1><strong>NUESTRA COBERTURA</strong></h1>
  <div class="container-text">
    <h2>AMMI GLOBAL</h2>
    <p>
      Pertenecemos a la familia de Ammi Global, un ministerio internacional con
      sede principal en Barranquilla Colombia.
    </p>
  </div>
  <div class="container-info">
    <div class="row-1">
      <p>
        Somos una comunidad de cristianos que confiamos en el poder del Espíritu
        Santo y fuimos fundados el 23 de abril de 2006 por los pastores Ivan y
        Malena Delgado. Actualmente nos reunimos como iglesia en varias ciudades
        de Colombia y Venezuela, con una asistencia de más de 4.000 personas
        cada fin de semana.
      </p>
    </div>
    <div class="row-2">
      <p>
        En la Iglesia Ammi, nos preocupa el bienestar de nuestra comunidad
        porque creemos en la enseñanza de Dios de que debemos amar a nuestro
        prójimo como a nosotros mismos. Demostramos nuestro amor por Dios a
        través del amor que le brindamos a las personas, y lo hacemos ayudando a
        cada persona que se acerca a nuestra iglesia a fortalecer su relación
        con el Señor.
      </p>
    </div>
  </div>
  <div class="container-button">
    <a href="https://www.iglesiaammi.org/" target="_blank"
      ><button style="font-size: italic">Seguir leyendo</button></a
    >
  </div>
</div>
