<div class="container">
  <h1><strong>NUESTROS TESTIMONIOS</strong></h1>
  <h2>Te invitamos a ver alguno de nuestros testimonios</h2>
  <div class="carousel">
    <ngb-carousel>
      <ng-template *ngFor="let testimonio of testimonios" ngbSlide>
        <div class="container">
          <div class="container-main">
            <div class="container-info">
              <div class="container-img">
                <img src="{{ testimonio.img }}" alt="" />
              </div>
              <div class="container-text">
                <h1>{{ testimonio.title }}</h1>
                <p style="text-align: justify">
                  {{ testimonio.descripcion }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
